pkgbase = eslint-plugin-vue
	pkgdesc = Official ESLint plugin for Vue.js
	pkgver = 9.18.0
	pkgrel = 1
	url = https://github.com/vuejs/eslint-plugin-vue
	arch = any
	license = MIT
	makedepends = npm
	depends = eslint
	noextract = eslint-plugin-vue-9.18.0.tgz
	source = http://registry.npmjs.org/eslint-plugin-vue/-/eslint-plugin-vue-9.18.0.tgz
	sha256sums = 31cef14292ec54dadbbd9cf22a2f6831d66843afb2eb38e3af3b777a26501430

pkgname = eslint-plugin-vue
