pkgbase = eslint-plugin-vue
	pkgdesc = Official ESLint plugin for Vue.js
	pkgver = 9.13.0
	pkgrel = 1
	url = https://github.com/vuejs/eslint-plugin-vue
	arch = any
	license = MIT
	makedepends = npm
	depends = eslint
	noextract = eslint-plugin-vue-9.13.0.tgz
	source = http://registry.npmjs.org/eslint-plugin-vue/-/eslint-plugin-vue-9.13.0.tgz
	sha256sums = 504c40f6c8dfe794660e312a3260aa6c3f6c3ae1652fae1a9894dd30d6db5a1d

pkgname = eslint-plugin-vue
